# Ref: https://github.com/github/gitignore/blob/main/TwinCAT3.gitignore
# Description of project files: https://infosys.beckhoff.com/english.php?content=../content/1033/tc3_sourcecontrol/406303499.html&id=4324324478820586350
# TwinCAT生成的文件
*.tpy
*.tclrs
*.compiled-library
*.compileinfo

# Don't include the tmc-file rule if either of the following is true:
#   1. You've got TwinCAT C++ projects, as the information in the TMC-file is created manually for the C++ projects (in that case, only (manually) ignore the tmc-files for the PLC projects)
#   2. You've created a standalone PLC-project and added events to it, as these are stored in the TMC-file.
# 我们有C++工程，所以不忽略tmc文件。
# *.tmc
# *.tmcRefac
Portal.tmc
TestHMI.tmc
*.library
*.project.~u
*.tsproj.bak
*.xti.bak
LineIDs.dbg
LineIDs.dbg.bak
_Boot/
_CompileInfo/
_Libraries/
_ModuleInstall/

#_Config/ 里面存放了IO的信息，不可以忽略
_Deployment/
_Boot/
_CompileInfo/
_CompileInfo_Upload/
_Libraries/
VSSettings/


# 编译生成的文件
*.pdb
*.sys

# 项目特定的文件
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
